<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head> 
        <title>Time Feed -- Home</title>
         <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <link href="StyleSheet1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div id="fb-root"></div>
            <script type="text/javascript">
                
                var initializeLikeText = function(element,oid) {
                	FB.api(
					        {
					            method: 'fql.query',
					            query: 'SELECT user_id, object_id, post_id FROM like WHERE user_id=me() AND post_id=\''+oid+'\''
					        },
					        function(response) {
					            //    do something with the response
								if (response.length > 0) {
									element.innerHTML = '[-]';
								} else {
									element.innerHTML = '[+]';
								}
					        }
					);
                };
				var fbLike = function(linkElement) {
					//we shouldn't be able to like something 2x
					var oid = linkElement.getAttribute('oid');
					var numLikesElement = linkElement.parentNode.getElementsByTagName('span')[0];
					var numCommentsElement = linkElement.parentNode.getElementsByTagName('span')[1];
					linkElement.innerHTML = "[-]";
					linkElement.setAttribute('onclick','fbUnLike(this);');
					FB.api('/'+oid+'/likes', 'post',function(response) {
						if (!response) {
							linkElement.innerHTML = "[+]";
						}
						//update number of likes and comments
						FB.api(oid,'get',function (response) {
							numLikesElement.innerHTML = response.likes.count;
							numCommentsElement.innerHTML = response.comments.count;
						});
					});
					
				};
				//TODO
				var fbUnLike = function(linkElement) {
					//we shouldn't be able to like something 2x
					var oid = linkElement.getAttribute('oid');
					var numLikesElement = linkElement.parentNode.getElementsByTagName('span')[0];
					var numCommentsElement = linkElement.parentNode.getElementsByTagName('span')[1];
					linkElement.innerHTML = "[+]";
					linkElement.setAttribute('onclick','fbLike(this);');
					FB.api('/'+oid+'/likes', 'delete',function(response) {
						if (!response) {
							linkElement.innerHTML = "[+]";
						}
						//update number of likes and comments
						FB.api(oid,'get',function (response) {
							numLikesElement.innerHTML = response.likes.count;
							numCommentsElement.innerHTML = response.comments.count;
						});
					});
					
				};
				//in the DIV of region, if given a nodeSpot, insert new node before it otherwise if null just append it to region's childlist
                var displayFBpost = function(region,post,insertionSpot) {
					var e = document.createElement("div");
					e.className = "FacebookPost";
					e.style.display = 'none';
					region.insertBefore(e,insertionSpot);
					var from = post.from.name;
					var pictureHTML = "";
					if (post.picture != undefined) {
						pictureHTML = "<div class=\"fbpostimage\" style=\"display:none\"><img src=\"" + post.picture  + "\"/></div>";
					}
					
					var html = "<div class=\"fbpostauthorpic\">"+"<img src=\"https://graph.facebook.com/" + post.from.id  + "/picture\"/> </div><div class=\"fbpostcontent\"><span class=\"fbauthorname\">"+post.from.name;
					if (post.to != undefined) {
						html = html + " > " + post.to.data[0].name; //could be to multiple people! TODO: FIX THIS
					}
					html = html +"</span>";
                    var msg = post.message;
					if (msg == undefined) {
						msg = post.story;
					}
					switch (post.type) //still missing some, like check-in
					{
					case "question":
						html = html+ "<br />" +  "<br />" +  msg + "<br /><br />" + pictureHTML;
						break;
					case "link":
						html = html+"<br />" + "<br />" +  msg + "<br /><br />" + pictureHTML;
						break;
					case "video":
						html = html+"<br />" + "<br />" +  msg + "<br /><br />" + pictureHTML;
						break;
					case "photo":
						html = html+ "<br />" + "<br />" + msg + "<br /><br />" + pictureHTML;
						break;
					case "checkin":
						html = html+"<br />" + "<br />" +  msg + "<br /><br />" + pictureHTML;
						break;
					case "status":
						html = html+"<br />" +  "<br />" + msg + "<br /><br />" + pictureHTML;
					}
					html = html +"<br /><div class=\"fbaudiencearea\">";
					/******************figure out number of likes and comments************/
					var numlikes = 0;
					var liketext = "s";
					var commenttext = "s";
					var numcomments = 0;
					if (post.likes != undefined) {
						numlikes  = post.likes.count;
						if (numlikes === 1) {
							liketext = "";
						}
					}
					if (post.comments != undefined ) {
						numcomments = post.comments.count;
						if (numcomments === 1) {
							commenttext = "";
						}
					}
					html = html +"<div class=\"fbactionbar\"><span>"+numlikes+"</span> like"+liketext+"<a oid=\""+post.id+"\" href=\"javascript:void(0)\" onclick=\"fbLike(this);\">[+]</a> | <span>"+numcomments+"</span> comment"+commenttext+"[+]</div>";
					/***********display comments***********/
					if (post.comments.data != undefined) {
						var i;
						for (i=0;i<post.comments.data.length;i++) {
							html = html + "<div class=\"fbcomment\"><div class=\"fbpostcommentauthorpic\">"+"<img src=\"https://graph.facebook.com/" + post.comments.data[i].from.id  + "/picture\"/> </div><div class=\"fbcommentcontent\"><span class=\"fbauthorname\">"+post.comments.data[i].from.name + " </span>"+post.comments.data[i].message+"</div></div>";
						}
					}	
					e.innerHTML = html +"</div></div><hr>";
					initializeLikeText(e.childNodes[1].lastChild.firstChild.childNodes[2],post.id);
					return;
                };



/*Set up function to be called when it's time to load the app. (bulk of work) */
                var loadApp = function (accessToken) {
                    //Make nav bar welcome the user (display the name)
                    FB.api('/me', function (response) {
                        document.getElementById('facebookname').innerHTML = response.name;
                    });
                    //Load news feed + Display initial news feed items + Retrieve authorIds to query their profile pics and show them in their posts (use a hash for optimization?)
                    //*************************************************
                    var mostRecentTime = null;
					var displayedPostTimes = {};
                    FB.api('/me/home', function(response) {
                        var dispArea = document.getElementById('app');
                        var posts = response.data;
						var authorids = [];
                        var i;
                        console.log(posts)
                        for (i = 0;i<posts.length;i++) {
                            displayFBpost(dispArea,posts[i],null);
							displayedPostTimes[posts[i].created_time] = 1;
                        }
						$(".FacebookPost").slideDown(1000,function() {$(".fbpostimage").slideDown(2000);});

						
                    });
                    //Have a timer and periodically check for newer news feed items
                    //************************************************************
                    setInterval(function() { 
                        console.log("hello again")
                        FB.api('/me/home',function(response) {
                            var posts = response.data;
                            var dispArea = document.getElementById('app');
                            var i;
							var insertionSpot = dispArea.firstChild;
                            console.log("most recent: "+mostRecentTime)
                            console.log(posts)

							for (i=0;i<posts.length;i++) {
								if (displayedPostTimes[posts[i].created_time] == undefined) {
									displayedPostTimes[posts[i].created_time] = 1;
									displayFBpost(dispArea,posts[i],insertionSpot);
									insertionSpot = posts[i];
									$(".FacebookPost:first").slideDown(2000,function() {$(".fbpostimage").slideDown(2000);});
								}
							}
                        });
                    },10000)

                };


/*Facebook API initialization and setup code */
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '<%= appId %>', // App ID
                        status: true, // check login status
                        cookie: true, // enable cookies to allow the server to access the session
                        xfbml: true
                    });
                    var loadedContent = false;
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            // the user is logged in and has authenticated your
                            // app, and response.authResponse supplies
                            // the user's ID, a valid access token, a signed
                            // request, and the time the access token 
                            // and signed request each expire
                            var uid = response.authResponse.userID;
                            var accessToken = response.authResponse.accessToken;
                            if(!loadedContent) {
                                loadApp(accessToken);
                            }



                            loadedContent = true;
                            //showLoggedIn();
                        } else {
                            document.getElementById("maincontainer").style.display = "none";
                            window.location = "http://" + window.location.host + "/";
                            //document.getElementById("statusText").innerHTML = "Not Logged In";
                        }
                    });
                    FB.Event.subscribe('auth.statusChange', function (response) {
                        if (response.status !== "connected") {
                            document.getElementById("maincontainer").style.display = "none";
                            window.location = "http://" + window.location.host + "/";
                        } else {
                            var accessToken = response.authResponse.accessToken;
                            if(!loadedContent) {
                                loadApp(accessToken);
                            }




                            loadedContent = true;

                        }
                    });

                };
                (function () {
                    var e = document.createElement('script');
                    e.type = 'text/javascript';
                    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                    e.async = true;
                    document.getElementById('fb-root').appendChild(e);
                } ());
/*Finish setting up app, Facebook API */
            </script>
<div id="maincontainer" style="display:inline">
<div class="header" id="loggedinheader">Welcome, <span id="facebookname"></span> | Links | Links <div id="fbbutton"> <fb:login-button autologoutlink='true'></fb:login-button></div></div>
<div class="appwindow" id="app"> 
</div>












</div>