<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Time Feed -- Home</title>
         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <link href="StyleSheet1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div id="fb-root"></div>
            <script type="text/javascript">
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '111749342300038', // App ID
                        status: true, // check login status
                        cookie: true, // enable cookies to allow the server to access the session
                        xfbml: true
                    });
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            // the user is logged in and has authenticated your
                            // app, and response.authResponse supplies
                            // the user's ID, a valid access token, a signed
                            // request, and the time the access token 
                            // and signed request each expire
                            var uid = response.authResponse.userID;
                            var accessToken = response.authResponse.accessToken;
                            //showLoggedIn();
                        } else {
                            document.getElementById("maincontainer").style.display = "none";
                            window.location = "http://" + window.location.host + "/";
                            //document.getElementById("statusText").innerHTML = "Not Logged In";
                        }
                    });
                    FB.Event.subscribe('auth.statusChange', function (response) {
                        if (response.status !== "connected") {
                            document.getElementById("maincontainer").style.display = "none";
                            window.location = "http://" + window.location.host + "/";
                        } else {

                        }
                    });

                };
                console.log("initializing");
                (function () {
                    var e = document.createElement('script');
                    e.type = 'text/javascript';
                    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                    e.async = true;
                    document.getElementById('fb-root').appendChild(e);
                } ());

        </script>
<div id="maincontainer" style="display:inline">
<div id="header">This is where the header will go. Might switch places with navigation bar.</div>
<div id="navigationbar">This will be the nav bar. Should appear wherever the loggedin+validated fb user goes.
         <fb:login-button autologoutlink='true'  scope='email,user_birthday,status_update,publish_stream,user_likes'></fb:login-button></div>
<div id="appwindow">This area will contain the bulk of the interface and appeal. The main scripts will go here. Should have a border and doesn't need to take up the full width.</div>












</div>