<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head> 
        <title>Time Feed -- Home</title>
         <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
             // This is more like it!
             });
        </script>

        <link href="StyleSheet1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div id="fb-root"></div>
            <script type="text/javascript">
/*Set up function to be called when it's time to load the app. (bulk of work) */
                var loadApp = function (accessToken) {
                    //Make nav bar welcome the user (display the name)
                    FB.api('/me', function (response) {
                        console.log(response.name); //delete for browser-compatibility
                        document.getElementById('facebookname').innerHTML = response.name;
                    });
                    //Load news feed + Display initial news feed items
                    FB.api('/me/home', function(response) {
                        console.log(response);
                        var dispArea = document.getElementById('appwindow');
                        var posts = response.data;
                        var i;
                        console.log(posts)
                        for (i = 0;i<posts.length;i++) {
                            var e = document.createElement("div");
                            e.innerHTML = "<b>"+posts[i].type +"</b>"+ "<p>"+ posts[i].message +"<hr>";
                            dispArea.appendChild(e);
                        }
                        //https://graph.facebook.com/oauth/access_token?client_id=111749342300038&client_secret=3d2b916403af7b306c267ab650c36eac&grant_type=client_credentials				
						var jcallback = function (returneddata) {
							console.log("returneddata");
						};
						var accessToken = "481488051865882|9ebI4nJU1lzSjV-15rD-oLclk58";
						console.log( jQuery.param({object : "user",fields : "feed",callback_url : "http://powerful-caverns-1047.herokuapp.com/fbnewsfeed",verify_token : "oklol"}))
                        $.ajax({
                        	type: 'POST',
                        	url : "https://graph.facebook.com/481488051865882/subscriptions",
                        	data :  jQuery.param({access_token : accessToken,object : "user",fields : "feed",callback_url : "http://powerful-caverns-1047.herokuapp.com/fbnewsfeed",verify_token : "oklol"}),
                        	dataType : "json",
                        	success : function (data,t) {
                            	console.log("Server responded")
								console.log(data)
								console.log(t)
                        	},
                        	error : function (error) { console.log("err:") ;console.log(error)}
                        	});
                    });
                    //Do post request to subscribe to facebook live update

                };


/*Facebook API initialization and setup code */
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '481488051865882', // App ID
                        status: true, // check login status
                        cookie: true, // enable cookies to allow the server to access the session
                        xfbml: true
                    });
                    var loadedContent = false;
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            // the user is logged in and has authenticated your
                            // app, and response.authResponse supplies
                            // the user's ID, a valid access token, a signed
                            // request, and the time the access token 
                            // and signed request each expire
                            var uid = response.authResponse.userID;
                            var accessToken = response.authResponse.accessToken;
                            if(!loadedContent) {
                                loadApp(accessToken);
                            }



                            loadedContent = true;
                            //showLoggedIn();
                        } else {
                            document.getElementById("maincontainer").style.display = "none";
                            window.location = "http://" + window.location.host + "/";
                            //document.getElementById("statusText").innerHTML = "Not Logged In";
                        }
                    });
                    FB.Event.subscribe('auth.statusChange', function (response) {
                        if (response.status !== "connected") {
                            document.getElementById("maincontainer").style.display = "none";
                            window.location = "http://" + window.location.host + "/";
                        } else {
                            var accessToken = response.authResponse.accessToken;
                            if(!loadedContent) {
                                loadApp(accessToken);
                            }




                            loadedContent = true;

                        }
                    });

                };
                (function () {
                    var e = document.createElement('script');
                    e.type = 'text/javascript';
                    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                    e.async = true;
                    document.getElementById('fb-root').appendChild(e);
                } ());
/*Finish setting up app, Facebook API */
            </script>
<div id="maincontainer" style="display:inline">
<div class="header" id="loggedinheader">Welcome, <span id="facebookname"></span> | Links | Links <div id="fbbutton"> <fb:login-button autologoutlink='true'></fb:login-button></div></div>
<div id="appwindow"> 
</div>












</div>