body
{
    background-color:#00CCFF;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    margin-top: 0px;
}
.header
{
    background-color:Black;
    font-size:x-large;
    font-weight:bolder;
    font-style:italic;
    color:Gray;
    text-align:center;
    padding: 6px;
    /*height: 10%;*/
}
#loggedinheader
{
    padding: 6px;
    font-size:14;
}
#fbbutton
{
    float: right;
    position: relative;
    top: -3px;
}
#splasharea
{
    height:50%;
}
#loginarea
{
    border: 1px solid;
    background-color:#F0F0F0;
    border-color:#Black;
    top: 10%;
    position: relative;
    text-align: center;
    width:23%;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
}
#appwindow
{
    position: relative;
    top: 20px;
    border-color: Black;
    border: 1px solid;
    padding: 20px;
    width: 500px;
    background-color: #F0F0F0;
    margin-left: auto;
    margin-right: auto;
}