<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<SCRIPT TYPE="text/javascript">
<!--
var socket = io.connect('http://localhost');
socket.on('receiveTweets',function(data) {
	console.log(data)
});
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
var w = window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
var timer = setInterval(function() {   
    if(w.closed) {  
        clearInterval(timer);  
		console.log("popup closed")
		console.log(w)
		socket.emit('getTweets',{token:w.token, secret:w.secret});
		
	}  
}, 1000);
return false;
}
//-->
</SCRIPT>
</head>
<body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>



<div id="twitterfeed"></div>

<a HREF="http://frozen-dusk-6409.herokuapp.com/begin_auth" onClick="return popup(this, 'notes')">my popup</a>



</body>
</html>